<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vedang Yagnik | Portfolio</title>
	<meta name="description" content="Vedang Yagnik - Portfolio" />
	<meta name="keywords" content="Vedang Yagnik, vedang yagnik github, vedang, portfolio, vedangyagnik resume" />
	<meta name="author" content="Vedang Yagnik" />
	<meta name="theme-color" content="#000">
	<link rel="shortcut icon" href="assets/images/VNY_icon.png" type="image/x-icon">

	<!-- Vendor Css-->
	<link rel="stylesheet" href="assets/css/vendor.css" />	
	<link rel="stylesheet" href="assets/css/LineIcons.min.css" />	
	<link rel="stylesheet" href="assets/css/jquery.fancybox-1.3.4.css" />	
	<link rel="stylesheet" type="text/css" href="assets/css/photoswipe.min.css" />	
	<link rel="stylesheet" type="text/css" href="assets/css/default-skin.min.css" />

	<!-- Settings style Css -->
	<link href="assets/css/settings.css" rel="stylesheet">

	<!-- AnjTemplate style Css -->
	<link href="assets/css/theme-light.css" rel="stylesheet">
	<!-- Custom style Css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">
	<link href="assets/css/custom.css" rel="stylesheet">
</head>

<body id="body" data-spy="scroll" data-target=".navbar-collapse">

	<!-- START: Preloader -->
	<div id="preloader" class="preloader">
		<div class="spinner">
			<div class="spinner-grow" role="status">
		</div>
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<!-- END: Preloader -->

	<!-- START: Aside -->
	<aside class="header header-v2">
		<!-- START: NAVBAR -->
		<div class="nav-wrapper">
			<div class="navbar-toggler">
				<svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="60">
				  <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
				  <path class="line middle" d="m 30,50 h 40" />
				  <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
				</svg>
			</div>

			<nav class="navbar text-center align-items-center justify-content-center">
                <div class="collapse navbar-collapse show" id="navbarCollapse">
                	<div class="about-avatar mb-5">
						<div class="about-avatar-details">
							<h1 id="app">Vedang Yagnik</h1>
						</div>
					</div>
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link ripple active" href="#home">
                            	<i class="lni-home"></i>
                            	<span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple" href="#services">
                            	<i class="lni-offer"></i>
                            	<span>Services</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple" href="#portfolio">
                            	<i class="lni-graduation"></i>
                            	<span>Portfolio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple" href="#resume">
                            	<i class="lni-briefcase"></i>
                            	<span>resume</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple" href="#achievements">
                            	<i class="lni-cup"></i>
                            	<span>Achievements</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ripple" href="#contact">
                            	<i class="lni-phone-handset"></i>
                            	<span>Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="header-scroll">
                	<i class='lni lni-arrow-down'></i>
                </div>
	        </nav>
        </div>
        <!-- END: NAVBAR -->
    </aside>
    <!-- START: Aside -->

    <div class="page-wrapper section-dark">
		<div id="main_section">
		<!-- START: HOME -->		
    	<section class="section section-home" id="home">
    		<div class="container h-100vh">
    			<div class="row justify-content-center align-items-center  h-100vh">
    				<div class="col-md-8 text-center">
    					<div class="hero-img-wrap mb-5">
    						<img class="hero-img img-fluid" src="assets/images/profile.png" alt="About Picture">
    					</div>
    					<div class="hero-right mt-5 mt-md-0 text-center " data-wow-delay="300ms">
    						<h5>HI THERE! I'M</h5>
    						<h2>{{json.name}}</h2>
    						<h1 class="my-4" id="app-2">I'M <span class="typed" :data-elements="json.titles"></span></h1>

    						<div class="hero-right--btns my-4">
    							<a href="#contact" class="btn ripple">Hire Me</a>
    							<a href="#about" class="btn btn-link">Learn More</a>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>

    		<div class="hero-shapes" id="scene">
    			<img class="shape1" data-depth="0.5" src="assets/images/shape1.svg" alt="Shape 1">
    			<img class="shape2" data-depth="0.1" src="assets/images/shape2.svg" alt="Shape 1">
    			<img class="shape3" data-depth="0.2" src="assets/images/shape3.svg" alt="Shape 1">
    			<img class="shape4" data-depth="0.5" src="assets/images/shape4.svg" alt="Shape 1">
    			<img class="shape5" data-depth="0.2" src="assets/images/shape5.svg" alt="Shape 1">
    			<img class="shape6" data-depth="0.1" src="assets/images/shape6.svg" alt="Shape 1">
    			<img class="shape7" data-depth="0.5" src="assets/images/shape7.svg" alt="Shape 1">
    			<img class="shape8" data-depth="0.1" src="assets/images/shape8.svg" alt="Shape 1">
    			<img class="shape9" data-depth="0.1" src="assets/images/shape9.svg" alt="Shape 1">
    		</div>

    		<div class="mouse-wrap">
				<div class="mouse"></div>
				<p>Scroll Down</p>
			</div>

    	</section>	
    	<!-- END: HOME -->

    	<!-- START: ABOUT -->

    	<section class="section section-dark section-about in" id="about">
			<div class="container">
				<div class="row justify-content-center align-items-center pb-5">

					<div class="col-md-6">
						<div class="section-about--img wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
							<img class="img-fluid mx-auto d-block" src="assets/images/about.png" alt="About Picture">
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="about-desc">
							<div class="about-desc-content text-left">
								<h2>About Me</h2>
								<p class="mt-4 font-weight-light">{{json.about_me?.intro_line_1}}</p>
								<p class="mt-4 font-weight-light">{{json.about_me?.intro_line_2}}</p>
							</div>

							<ul class="about-desc-social text-left my-4 list-unstyled list-inline">
		                        <li class="list-inline-item" v-for="acc in json.proffessional_account">
									<a class="hover-state" :href="acc.link" target="_blank">
										<i :class="acc.icon"></i>
									</a>
								</li>
		                    </ul>

							<div class="about-desc-more text-left">
								<div class="row">
									<div class="col-lg-7">
										<div class="about-desc-info">
											<b>Date of birth:</b>
											<span>{{json.about_me?.dob}}</span>
										</div>
									</div>
									<div class="col-lg-5">
										<div class="about-desc-info">
											<b>Phone : </b>
											<a :href="'tel:'+json.contact_info?.phone">{{json.contact_info?.phone}}</a>
										</div>
									</div>
									<div class="col-lg-7">
										<div class="about-desc-info">
											<b>Mail : </b>
											<a :href="'mailto:'+json.contact_info?.email">{{json.contact_info?.email}}</a>
										</div>
									</div>
									<div class="col-lg-5">
										<div class="about-desc-info">
											<b>Adress : </b>
											<a :href="json.contact_info?.address_map">{{json.contact_info?.address}}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="counter-wrapper b-box mt-0 mt-md-5">
					<div class="row">
						<div class="col-6 col-md-3" v-for="item in json.about_me?.counters">
							<div class="counter-text my-4 m-md-5 text-center">
								<h3>
									<span class="counter">{{item.count}}</span>{{item.string}}
								</h3>
								<p class="mt-4">{{item.title}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    	<!-- END: ABOUT -->

		<!-- START: SERVICES -->
		<section class="section section-light section-services pb-5" id="services">
			<div class="container">
				<div class="section-head">
					<span>WHAT I DO</span>
					<h2>My Services</h2>
				</div>

				<div class="section-inner p-0 p-md-5">
					<div class="row">
						<div class="col-sm-6 col-lg-4" v-for="service in json.services">
							<div class="services-list b-box">
								<div class="services-list-content">
									<div class="list-icon list-icon-1">
										<i :class="service.icon"></i>
									</div>
									<div class="mt-3">
										<h5 class="mb-0">{{service.name}}</h5>
										<p class=" mt-3">{{service.description}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: SERVICES -->
	</div>

		<!-- START: PORTFOLIO -->
		<section class="section section-dark" id="portfolio">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-4">
    					<div class="section-head">
							<span>TAKE A LOOK AT</span>
							<h2>My Works</h2>
						</div>	
    				</div>
    				<div class="col-md-8">
    					<ul id="filter" class="filter mt-4">
							<li class=" active" data-group="all">All</li>
							<li class="" data-group="console">Console</li>
							<li class="" data-group="web">Web</li>
							<li class="" data-group="android">Android</li>
							<li class="" data-group="ios">IOS</li>
							<li class="" data-group="cross_platform">Cross-Platform</li>
						</ul>
    				</div>	
				</div>
				<!-- Projects Container Start-->
    			<div class="section-inner p-0 p-md-5">
					<div class="list-items-container row">
						<div class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all console">
							<a href="https://github.com/vedangyagnik/WWBTAM" target="_blank" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/console-p1.png" alt="Blog Image" class="img-fluid">
									<div class="row">
										<span class="blog-cat badge badge-primary">Swift</span>
									</div>
								</div>
								<div class="blog-list--desc p-4">
									<h3>Who Wants To Be A Millionaire</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">March 2020</span><br/>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</div>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all console">
							<a href="https://github.com/vedangyagnik/Hangman" target="_blank" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/console-p2.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">Java</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>Hangman - (Console Version)</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">January 2020</span><br/>
										<span class="blog-by">George Brown College</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all web">
							<a href="#" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/confedential.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">CakePHP</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>Ovivo-CRM</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">January 2017 - November 2019</span><br/>
										<span class="blog-by">BiztechCS</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all web">
							<a href="#" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/confedential.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">CakePHP</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>PME - ProofReadMyEssay</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">April 2018</span><br/>
										<span class="blog-by">BiztechCS</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all web">
							<a href="assets/projects/galaxy_math_game/index.html" target="_blank" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/web-p3.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">JavaScript</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>Alien Shooter Math Game</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">July 2020</span><br/>
										<span class="blog-by">George Brown College</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all web">
							<a href="assets/projects/hangman/index.html" target="_blank" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/web-p4.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">JavaScript</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>Hangman - (Web Version)</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">July 2020</span><br/>
										<span class="blog-by">George Brown College</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all ios">
							<a href="#" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/ios-p4.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">IOS</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>MultiMate-A Corporate Portal</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">November 2016 – April 2017</span><br/>
										<span class="blog-by">Gujarat Technological University</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all cross_platform">
							<a href="#" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/confedential.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">Cross-Platform</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>Ovivo-WaterExpert</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">January 2017 – November 2019</span><br/>
										<span class="blog-by">BiztechCS</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all android">
							<a href="https://github.com/vedangyagnik/Tokyo2020" target="_blank" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/android-p1.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">Android</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>TOKYO 2020</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">February 2020</span><br/>
										<span class="blog-by">George Brown College</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all ios">
							<a href="https://github.com/vedangyagnik/swift_19_the_virus_outbreak" target="_blank" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/ios-p1.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">IOS</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>SWIFT 19 - The Virus Outbreak</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">April 2020</span><br/>
										<span class="blog-by">George Brown College</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all android ios cross_platform">
							<a href="https://github.com/vedangyagnik/MealDeliveryReactNativeApp" target="_blank" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/ios-p2.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">Android | IOS | Cross-Platform</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>Meal Delivery</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">May 2020 - August 2020</span><br/>
										<span class="blog-by">George Brown College</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all cross_platform">
							<a href="https://github.com/vedangyagnik/CurrencyExchangeCalculator" target="_blank" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/crs-plt-p2.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">Cross-Platform</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>Currency Exchange Calculator</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">August 2020</span><br/>
										<span class="blog-by">George Brown College</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all ios">
							<a href="https://github.com/vedangyagnik/love_in_covid" target="_blank" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/ios-p3.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">IOS</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>Love In Covid - Online Dating Made Easy</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">June 2020</span><br/>
										<span class="blog-by">George Brown College</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all ios">
							<a href="#" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/ios-p5.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">IOS</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>Pokedex</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">May 2020</span><br/>
										<span class="blog-by">George Brown College</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
						<figure class="col-md-4 list-item" data-itemprop="associatedMedia" data-groups="all cross_platform">
							<a href="#" class="blog-list d-block">
								<div class="blog-list--img">
									<img src="assets/images/confedential.png" alt="Blog Image" class="img-fluid">
									<span class="blog-cat badge badge-primary">Cross-Platform</span>
								</div>
								<div class="blog-list--desc p-4">
									<h3>Newsly</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">September 2020 - Present</span><br/>
										<span class="blog-by">NewslyMeApp</span>
									</div>
								</div>
							</a>
							<!-- <figcaption data-itemprop="caption description">
								<div class="caption-inner">
									<button><a href="#" target="_blank">GitHub</a></button>
									<button><a href="#" target="_blank">Live Demo</a></button>
								</div>
							</figcaption> -->
						</figure>
					</div>
				</div>
				<!-- Projects Container End-->
			</div>
    	</section>
		<!-- END: PORTFOLIO -->
		
		<div id="bottom_section">
    	<!-- START: TESTIMONY -->
		<section class="section section-light section-testimony" id="testimony">
			<div class="container">
				<div class="section-head text-center">
					<span>Kind Words</span>
					<h2>testimonial</h2>
				</div>
				<div class="section-inner section-testimony--content p-3 p-md-5">
					<div class="row">
						<div class="col-lg-12">
							<div class="swiper-container swiper-testimony">
								<div class="swiper-wrapper">
									<!-- Testimonials begin -->
									<div class="swiper-slide single-testimonials" v-for="testimony in json.testimonial">
										<div class="single-testimonials-in mx-auto text-center">
											<div class="single-testimonials-head p-5">
												<p>{{testimony.message}}</p>
											</div>
											<div class="single-testimonials-foot mx-auto mt-5">
												<img :src="testimony.image" alt="" class="mx-auto b-box">
												<h4 class="mt-3 font-weight-bold">{{testimony.author_name}}</h4>
												<span class="mt-1 d-block">{{testimony.position}}
													| <a :href="testimony.link" target="_blank">Linked<i class="lni lni-linkedin-original" style="font-size:24px;position: absolute;"></i></a>
												</span>
												
											</div>
										</div>
									</div>
									<!-- Testimonials end -->
								</div>
								<div class="swiper-pagination"></div>
							</div>

							<div class="testimony-nav">
								<a href="#" class="swiper-button-next"></a>
								<a href="#" class="swiper-button-prev"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: TESTIMONY -->

		<!-- START: RESUME -->
		<section class="section section-dark section-resume" id="resume">
			<div class="container">

				<div class="section-head">
					<span>My Resume</span>
					<h2>My Expertises</h2>
				</div>

				<div class="section-inner p-0 p-md-5">
					<div class="section-resume-wrap">
						<div class="section-experience mb-5">
							<div class="row">
								<div class="col-lg-3">
									<h5 class="section-subHead mb-4 "> My Experience</h5>
								</div>
								<div class="col-lg-9">
									<div class="ExperienceList pb-3">
										<!--Expereince List-->
										<div class="resume-list b-box p-4" v-for="exp in json.experience">
											<div class="row align-items-center">
												<div class="col-3 col-md-3 pb-3 pb-md-0">
													<a :href="exp.company_url" target="_blank">{{exp.company_name}}</a>
												</div>
												<div class="col-md-5 pb-2 pb-md-0">
													<h5 class="mb-3">{{exp.position}}</h5>
													<p>{{exp.description}}</p>
												</div>
												<div class="col-md-4 text-md-right"><h6 class="badge badge-primary">{{exp.timeline}}</h6></div>
											</div>
										</div>
										<!--Expereince List-->
									</div>
								</div>
							</div>
						</div>

						<div class="section-education">
							<div class="row">
								<div class="col-lg-3">
									<h5 class="section-subHead mb-4"> My Education</h5>
								</div>

								<div class="col-lg-9">
									<div class="EducationList">
										<!--Education List-->
										<div class="resume-list b-box p-4" v-for="edu in json.education">
											<div class="row align-items-center">
												<div class="col-md-8 pb-2 pb-md-0">
													<h5 class="mb-2">{{edu.institute_name}} - {{edu.location}}</h5>
													<h6>{{edu.degree}}</h6>
													<h6 v-if="edu.major != ''">Major: {{edu.major}}</h6>
													<label>Result: {{edu.result}}</label>
												</div>
												<div class="col-md-4 text-md-right">
													<h6 class="badge badge-primary">{{edu.timeline}}</h6>
												</div>
											</div>
										</div>
										<!--Education List-->
									</div>
								</div>
							</div>
						</div>

						<div class="section-skills-wrap mt-5">
							<div class="row">
								<div class="col-lg-3">
									<h5 class="section-subHead mb-4"> My Skills</h5>
								</div>
								<div class="col-lg-9">
									<div class="row skill-row">
										<div class="col-md-2" v-for="skill in json.skills">
											<i :class="skill.icon" class="colored" style="font-size: 24px;vertical-align: middle;"></i>
											<label>{{skill.title}}</label>
										</div>
									</div>
								</div>
							</div>							
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- END: RESUME -->

		<!-- START: Achievements -->
    	<section class="section section-light" id="achievements">
    		<div class="container">
				<div class="section-head">
					<span>Achievements</span>
					<h2>My Certificates</h2>
				</div>

				<div class="section-inner p-0 p-md-5">
					<div class="row">
						<div class="col-md-4" v-for="achieve in json.achievements">
							<a :href="achieve.link" target="_blank" class="blog-list d-block mb-4 mb-md-5">
								<div class="blog-list--img">
									<img :src="achieve.image" alt="Blog Image" class="img-fluid">
									<!-- <span class="blog-cat badge badge-primary">Passion</span> -->
								</div>
								<div class="blog-list--desc p-4">
									<h3>{{achieve.title}}</h3>
									<div class="blog-list--details-in pt-3">
										<span class="blog-date text-muted">{{achieve.issued_date}}</span>
										<span class="blog-by">- {{achieve.issued_org}}</span>
									</div>
								</div>
							</a>	
						</div>
					</div>
				</div>
			</div>
    	</section>
    	<!-- END: Achievements -->

    	<!-- START: CONTACT -->
		<section class="section section-dark section-contact" id="contact">
			<div class="container">
				<div class="section-head">
					<span>say Hello</span>
					<h2>Contact </h2>
				</div>
			
				<div class="section-inner p-0 p-md-5">
					<div class="contact-Otherdetails ">
						<div class="contact-details">
							<h5 class="section-subHead mb-4"> Get in Touch</h5>
							<div class="row justify-content-center align-items-center">
								<div class="col-sm-6 col-lg-4">
									<div class="contact-details--panel p-4 b-box text-center mb-4 " >
										<div class="mb-3 list-icon list-icon-1">
											<i class="lni-mobile"></i>
										</div>
										<div class="mt-2">
											<a :href="'tel:'+json.contact_info?.phone" class="">{{json.contact_info?.phone}}</a>
											<p class="mt-2">Phone</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-4">
									<div class="contact-details--panel p-4 b-box text-center mb-4 "  >
										<div class="mb-3 list-icon list-icon-5">
											<i class="lni-envelope"></i>
										</div>
										<div class="mt-2">
											<a :href="'mailto:'+json.contact_info?.email">{{json.contact_info?.email}}</a>
											<p class="mt-2">Email</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-4">
									<div class="contact-details--panel p-4 b-box text-center mb-4 ">
										<div class="mb-3 list-icon list-icon-5">
											<i class="lni lni-pin"></i>
										</div>
										<div class="mt-2">
											<a :href="json.contact_info?.address_map" target="_blank">{{json.contact_info?.address}}</a>
											<p class="mt-2">Address</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="contact-form mt-5">
							<form>
								<h5 class="section-subHead mb-2"> Contact Form</h5>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group mt-3 " >
											<input name="name" id="name" type="text" class="form-control b-box" placeholder="Your Name*" required>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group mt-3 "  >
											<input name="email" id="email" type="email" class="form-control b-box" placeholder="Your Email*" required>
										</div>
									</div>                                
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group mt-3 "  >
											<input type="text" class="form-control b-box" id="subject" placeholder="Your Subject.." required/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group mt-3 "  >
											<textarea name="comments" id="comments" rows="4" class="form-control b-box" placeholder="Your message..."></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 text-center mt-4">
										<a href="#" class="btn ">Submit</a>
									</div>
								</div>
							</form>
						</div> -->
					</div>
				</div>
			</div>
		</section>
		<!-- END: CONTACT -->
    </div>

		<!--START: FOOTER-->
		<footer class="footer section section-light">
			<div class="container" id="footer">
				<ul class="text-center about-desc-social list-unstyled list-inline"><li class="list-inline-item"><a href="https://www.linkedin.com/in/vedangyagnik/" target="_blank" class="hover-state"><i class="lni lni-linkedin"></i></a></li><li class="list-inline-item"><a href="https://github.com/vedangyagnik/" target="_blank" class="hover-state"><i class="lni lni-github-original"></i></a></li><li class="list-inline-item"><a href="https://stackoverflow.com/users/13348589/vedang-yagnik" target="_blank" class="hover-state"><i class="lni lni-stackoverflow"></i></a></li></ul>
				<p class="copyright text-center mb-0">Copyright &copy; {{year}} All rights reserved | This theme is licensed by <a href="https://themeforest.net/item/decker-portfoliocvresume-html-template/26723545" target="_blank">Decker - Theme Forest</a></p>
				<p class="text-center mb-0">Developed with <i class="lni lni-heart-filled heart_filled"></i> by Vedang Yagnik | <a href="http://localhost/vedangyagnik.github.io/assets/decker_theme_licence.pdf" target="_blank">View Licence</a></p>
			</div>
		</footer>
		<!--END: FOOTER-->
	</div>


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

	<!-- JAVASCRIPTS -->
	<script src="assets/js/vendor.js"></script>
	<script src="assets/js/parallax.min.js"></script>
	<script src="assets/js/photoswipe.min.js"></script>
	<script src="assets/js/photoswipe-ui-default.min.js"></script>

	<!-- Custom Js -->
	<script src="assets/js/imagesloaded.pkgd.js"></script>
	<script src="assets/js/waypoints.min.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>
	<script src="assets/js/jquery.shuffle.min.js"></script>
	<script src="assets/js/custom-shuffle-init.js"></script>
	<script src="assets/js/pswp.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="assets/js/app.js"></script>
	<!-- <script src="assets/js/custom.js"></script> -->
</body>
</html>
